Get data for a single second and calculate features for a single channel. Check the timing.

I will use the ts-fresh pre-identified parameters sets:
 - MinimalParameters
 - EfficientFCParameters
 - ComprehensiveFCParameters
 
 Complete List of features that TS-fresh provides:
 https://tsfresh.readthedocs.io/en/latest/text/list_of_features.html

In [1]:
import tsfresh

In [2]:
import py_neuromodulation as py_nm

from py_neuromodulation import nm_IO

import os

from matplotlib import pyplot as plt

import pandas as pd

/Users/hi/opt/anaconda3/envs/pn_env/lib/python3.10/site-packages/xgboost/compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [3]:
os.path.join(py_nm.__path__[0], 'example')

'/Users/hi/Documents/py_neuromodulation/py_neuromodulation/example'

In [4]:
os.path.dirname(py_nm.__path__[0])

'/Users/hi/Documents/py_neuromodulation'

In [5]:
sub = "testsub"
ses = "EphysMedOff"
task = "buttonpress"
run = 0
datatype = "ieeg"

SCRIPT_DIR = os.path.join(os.path.dirname(py_nm.__path__[0]), 'examples')

# Define run name and access paths in the BIDS format.
RUN_NAME = f"sub-{sub}_ses-{ses}_task-{task}_run-{run}"

PATH_RUN = os.path.join(
    (os.path.join(SCRIPT_DIR, "data")),
    f"sub-{sub}",
    f"ses-{ses}",
    datatype,
    RUN_NAME,
)
PATH_BIDS = os.path.join(SCRIPT_DIR, "data")

# Provide a path for the output data.
PATH_OUT = os.path.join(SCRIPT_DIR, "data", "derivatives")

(
    raw,
    data,
    sfreq,
    line_noise,
    coord_list,
    coord_names,
) = nm_IO.read_BIDS_data(
    PATH_RUN=PATH_RUN, BIDS_PATH=PATH_BIDS, datatype=datatype
)

Extracting parameters from /Users/hi/Documents/py_neuromodulation/examples/data/sub-testsub/ses-EphysMedOff/ieeg/sub-testsub_ses-EphysMedOff_task-buttonpress_run-0_ieeg.vhdr...
Setting channel info structure...
Reading channel info from /Users/hi/Documents/py_neuromodulation/examples/data/sub-testsub/ses-EphysMedOff/ieeg/sub-testsub_ses-EphysMedOff_task-buttonpress_run-0_channels.tsv.
Reading electrode coords from /Users/hi/Documents/py_neuromodulation/examples/data/sub-testsub/ses-EphysMedOff/ieeg/sub-testsub_ses-EphysMedOff_acq-StimOff_space-mni_electrodes.tsv.

In [19]:
from tsfresh.feature_extraction import extract_features, EfficientFCParameters, ComprehensiveFCParameters, MinimalFCParameters

In [7]:
dat = raw.get_data()[10, :]

In [8]:
raw.info['sfreq']

1375.0

In [22]:
df = raw.to_data_frame().iloc[:1375]
df['id'] = 1
df = df.iloc[:, [0, 2, -1]]

In [23]:
df

      time  ECOG_L_1_SMC_AT  id
0        0        3000000.0   1
1        1        9000000.0   1
2        1       23000000.0   1
3        2       18000000.0   1
4        3        9000000.0   1
...    ...              ...  ..
1370   996       -9000000.0   1
1371   997      -19000000.0   1
1372   998      -29000000.0   1
1373   999      -31000000.0   1
1374   999      -35000000.0   1

[1375 rows x 3 columns]

### MinimalFCParameters

In [27]:
extracted_features = extract_features(
    df,
    column_id="id",
    column_sort="time",
    default_fc_parameters=MinimalFCParameters()
)

Feature Extraction: 100%|█████████████████████████| 1/1 [00:02<00:00,  2.70s/it]

In [28]:
extracted_features.T.shape

(10, 1)

In [29]:
extracted_features.T

                                                1
ECOG_L_1_SMC_AT__sum_values          7.395000e+09
ECOG_L_1_SMC_AT__median              1.100000e+07
ECOG_L_1_SMC_AT__mean                5.378182e+06
ECOG_L_1_SMC_AT__length              1.375000e+03
ECOG_L_1_SMC_AT__standard_deviation  3.574147e+07
ECOG_L_1_SMC_AT__variance            1.277453e+15
ECOG_L_1_SMC_AT__root_mean_square    3.614384e+07
ECOG_L_1_SMC_AT__maximum             8.200000e+07
ECOG_L_1_SMC_AT__absolute_maximum    9.800000e+07
ECOG_L_1_SMC_AT__minimum            -9.800000e+07

### EfficientFCParameters

In [33]:
extracted_features = extract_features(
    df,
    column_id="id",
    column_sort="time",
    default_fc_parameters=EfficientFCParameters()
)

Feature Extraction: 100%|█████████████████████████| 1/1 [00:04<00:00,  4.30s/it]

In [34]:
extracted_features.shape

(1, 783)

In [35]:
extracted_features.T

                                                               1
ECOG_L_1_SMC_AT__variance_larger_than_standard_...  1.000000e+00
ECOG_L_1_SMC_AT__has_duplicate_max                  0.000000e+00
ECOG_L_1_SMC_AT__has_duplicate_min                  0.000000e+00
ECOG_L_1_SMC_AT__has_duplicate                      1.000000e+00
ECOG_L_1_SMC_AT__sum_values                         7.395000e+09
...                                                          ...
ECOG_L_1_SMC_AT__matrix_profile__feature_"mean"...  3.492360e+00
ECOG_L_1_SMC_AT__matrix_profile__feature_"media...  3.450188e+00
ECOG_L_1_SMC_AT__matrix_profile__feature_"25"__...  2.549251e+00
ECOG_L_1_SMC_AT__matrix_profile__feature_"75"__...  4.486479e+00
ECOG_L_1_SMC_AT__mean_n_absolute_max__number_of...  9.542857e+07

[783 rows x 1 columns]